// Display
.u-inline {
  display: inline;
}
.u-inline-block {
  display: inline-block;
}
.u-block {
  display: block;
}
.u-none {
  display: none;
}


// Flex
.u-flex {
  display: flex;
}
.u-shrink-0 {
  flex-shrink: 0;
}
.u-grow-1 {
  flex-grow: 1;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.u-flex-wrap {
  flex-wrap: wrap;
}
.u-items-start {
  align-items: flex-start;
}
.u-items-end {
  align-items: flex-end;
}
.u-items-center {
  align-items: center;
}
.u-justify-start {
  justify-content: flex-start;
}
.u-justify-end {
  justify-content: flex-end;
}
.u-justify-center {
  justify-content: center;
}
.u-justify-between {
  justify-content: space-between;
}


// Size
.u-w-full {
  width: 100%;
}
.u-h-full {
  height: 100%;
}


// Gap
@each $prefix, $properties in $gap-prefixes {
  @each $spacing, $vw in $spacing-map {
    .u-#{$prefix}-#{$spacing} {
      @each $property in $properties {
        @if ($spacing != auto) {
          #{$property}: var(--spacing-#{$spacing});
        }
      }
    }
  }
}


// Spacing
@each $prefix, $properties in $spacing-prefixes {
  // section
  @each $axis in (x, y) {
    .u-#{$prefix}-section-#{$axis} {
      @each $property in $properties {
        #{$property}: var(--section-spacing-#{$axis});
      }
    }
  }
  @each $spacing, $vw in $spacing-map {
    .u-#{$prefix}-#{$spacing} {
      @each $property in $properties {
        $value: var(--spacing-#{$spacing});
        @if ($spacing == auto) {
          $value: auto;
        }
        #{$property}: $value if($spacing == 0, !important, null);
      }
    }
  }
}
// .u-px-0 {
//   padding-left: 0 !important;
//   padding-right: 0 !important;
// }
// .u-pt-0 {
//   padding-top: 0 !important;
// }
// .u-pr-0 {
//   padding-right: 0 !important;
// }
// .u-pb-0 {
//   padding-bottom: 0 !important;
// }
// .u-pl-0 {
//   padding-left: 0 !important;
// }

// .u-mt-auto {
//   margin-top: auto;
// }
// .u-ml-auto {
//   margin-left: auto;
// }

// .u-pt-30 {
//   padding-top: var(--spacing-30);
// }
// .u-pb-30 {
//   padding-top: var(--spacing-30);
// }
// .u-mt-16 {
//   margin-top: var(--spacing-16);
// }
// .u-mb {
//   &-30  {
//     margin-bottom: var(--spacing-30);
//   }
//   &-20  {
//     margin-bottom: var(--spacing-20);
//   }
//   &-16  {
//     margin-bottom: var(--spacing-16);
//   }
//   &-4  {
//     margin-bottom: var(--spacing-4);
//   }
// }


// Image
// 等比圖片製作
// 使用 padding-bottom 作法
// `父層` 使用 `u-img-ratio` 並將 `img` 加上 `u-object-fit` `-abs` 使其絕對定位（才能成功套用等比例）
.u-img-ratio {
  --img-w-ratio: 3;
  --img-h-ratio: 2;

  // 因為有時候會是 a 連結
  display: block;

  // for editor iframe
  max-width: 100%;

  // padding 寫在 ::before 才能用 `u-img-ratio` 控制寬度
  &::before {
    content: '';
    display: block;
    width: 100%;
    // padding 使用 % 單位會依據父層 `u-img-ratio` 寬度
    // 所以 padding-bottom: 100% 會是正方形
    // 1 : 1 = 100% : 100%
    // 4 : 3 = 100% : X
    // X = 100 * 3 / 4 = 75
    // padding-bottom: 75%
    padding-bottom: calc(100% * var(--img-h-ratio) / var(--img-w-ratio));
  }
}


// 等比圖片製作
// 使用 aspect-ratio 作法
// 將 `img` 加上 `u-object-fit` `-aspect-ratio` 即可
// aspect-ratio 寫法與 padding 寫法差在瀏覽器支援度
.u-object-fit.-aspect-ratio {
  --img-w-ratio: 3;
  --img-h-ratio: 2;
  aspect-ratio: var(--img-w-ratio) / var(--img-h-ratio);
}

// 如同 background-image（用 img 搭配 object-fit 有助於 SEO 搜尋）
.u-object-fit {
  --object-fit: cover;
  --object-position-x: center;
  --object-position-y: center;
  --parallax-offset: 0;
  @include size(100%);
  object-fit: var(--object-fit);
  object-position: var(--object-position-x) var(--object-position-y);
  overflow: hidden;
  &.-abs {
    position: absolute;
    left: 0;
    top: 0;
  }
  // for GSAP 視差滾動
  &.-parallax {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% + var(--parallax-offset) * 1px);
    max-height: none;
    // transition: transform 1s cubic-bezier(.23, .83, .7, 1);
  }
}


// 將 map 內容生成 utilities
$utilities:
  font $font-map font-family,
  text $text-map font-size,
  leading $leading-map line-height,
  tracking $tracking-map letter-spacing,
  color $color-map color;

@each $name, $map, $property in $utilities {
  @each $key, $value in $map {
    .u-#{$name}-#{$key} {
      #{$property}: var(--#{$name}-#{$key})
    }
    // .u-text-sm {
    //   font-size: var(--text-sm);
    // }
  }
}


// Font
@each $fw, $value in (900, 700, 600, 500, 400, 300, 100) {
  .u-fw-#{$fw} {
    font-weight: $fw
  }
}


// Text
// class 裡只要同時有 u-text 及 xl 字眼就符合 (符合：.c-card.u-text-2xl)
[class*="u-text"][class*="xl"] {
  font-weight: 900;
}


// Icon
[class*="u-icon"] {
  // 因為預設是 inline 會導致一些像 img 一樣的底部空白
  // 不過 vertical-align: middle; 無法徹底解決
  // 所以直接設 block 跳脫文字樣式
  display: block
}
.u-icon {
  font-size: rem(24);
  &-lg {
    font-size: rem(40);
  }
  &-md {
    font-size: rem(28);
  }
  &-sm {
    font-size: rem(18);
  }
}


// Line Clamp
// 超過指定行數以 ... 收尾
[class*="u-line-clamp"] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.u-line-clamp {
  &-1 {
    -webkit-line-clamp: 1;
  }
  &-2 {
    -webkit-line-clamp: 2;
  }
  &-3 {
    -webkit-line-clamp: 3;
  }
}


// Text Align
.u-text {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}


// Others
.u-editor {
  max-width: 100%;
  font-size: var(--text-md);
  font-weight: 500;
  line-height: var(leading-relaxed);
  overflow: auto;
  a, button {
    border-bottom: 1px solid var(--color-primary);
    transition: color 0.3s;
    &:hover {
      color: var(--color-primary);
    }
  }
  ul, ol {
    list-style: revert;
    margin: revert;
  }
  ul {
    padding-left: rem(28);
  }
  ol {
    padding-left: rem(36);
  }
  h1, h2, h3, h4, h5, h6, p, button {
    margin: revert;
  }
  span {
    display: inline;
  }
}

.u-pre-wrap {
  white-space: pre-wrap;
}
.u-select-none {
  user-select: none;
}


// 自己逐項定義
// Font
// .u-font-en {
//   font-family: var(--font-en);
// }

// .u-fw {
//   &-900  {
//     font-weight: 900;
//   }
//   &-700  {
//     font-weight: 700;
//   }
//   &-500  {
//     font-weight: 500;
//   }
//   &-400  {
//     font-weight: 400;
//   }
// }


// Text
// class 裡只要同時有 u-text 及 xl 字眼就符合 (符合：.c-card.u-text-2xl)
// [class*="u-text"][class*="xl"] {
//   font-weight: 900;
// }
// .u-text {
//   &-5xl {
//     font-size: var(--text-5xl);
//   }
//   &-4xl {
//     font-size: var(--text-4xl);
//   }
//   &-3xl {
//     font-size: var(--text-3xl);
//   }
//   &-2xl {
//     font-size: var(--text-2xl);
//   }
//   &-xl {
//     font-size: var(--text-xl);
//   }
//   &-lg {
//     font-size: var(--text-lg);
//   }
//   &-md {
//     font-size: var(--text-md);
//   }
// }

// .u-leading-1 {
//   line-height: 1;
// }


// Colors
// .u-color {
//   &-primary  {
//     color: var(--color-primary);
//   }
//   &-secondary  {
//     color: var(--color-secondary);
//   }
//   &-black  {
//     color: var(--color-black);
//   }
//   &-gray-mid  {
//     color: var(--color-gray-mid);
//   }
//   &-gray-light  {
//     color: var(--color-gray-light);
//   }
//   &-white  {
//     color: var(--color-white);
//   }
// }
