:root {
  --html-spacing: calc(1rem / 16);


  // Section
  --section-spacing-x: 4vw;
  --section-spacing-y: var(--spacing-30);
  @include media(xs) {
    --section-spacing-x: 2vw;
  }


  // Container
  @each $size, $value in $container-map {
    --container-#{$size}: #{$value};
  }
    

  // Spacing
  @each $spacing, $vw in $spacing-map {
    @if ($spacing == auto) {
      --spacing-#{$spacing}: auto;
      // --spacing-auto: auto;
    } @else {
      --spacing-#{$spacing}: #{rem(calc($spacing * 4))};
      // --spacing-10
      // => calc(var(--html-spacing) * 160)
      // => 10rem
      // => 160px
    }
  }
  @include media(xs) {
    @each $spacing, $vw in $spacing-map {
      @if $vw {
        --spacing-#{$spacing}: #{$vw};
      }
    }
  }
  // 以上將編譯出各種 spacing 及 xs 對應的值，值為 null 時 xs 將不編譯
  // --spacing-40: calc(var(--html-spacing) * 160);
  // --spacing-30: calc(var(--html-spacing) * 120);
  // --spacing-2: calc(var(--html-spacing) * 80);
  // ...
  // @media (max-width: 575.98px) {
  //   --spacing-40: 24vw
  //   --spacing-30: 20vw
  // }
  //   ...


  // --spacing-160: 16rem;
  // --spacing-144: 14.4rem;
  // --spacing-120: 12rem;
  // --spacing-104: 10.4rem;
  // --spacing-96: 9.6rem;
  // --spacing-88: 8.8rem;
  // --spacing-80: 8rem;
  // --spacing-72: 7.2rem;
  // --spacing-64: 6.4rem;
  // --spacing-56: 5.6rem;
  // --spacing-48: 4.8rem;
  // --spacing-40: 4rem;
  // --spacing-32: 3.2rem;
  // --spacing-24: 2.4rem;
  // --spacing-16: 1.6rem;
  // --spacing-12: 1.2rem;
  // --spacing-8: 0.8rem;
  // --spacing-4: 0.4rem;
  // --spacing-2: 0.2rem;
  // --spacing-0: 0;
  // --spacing-auto: auto;
  // @include media(xs) {
  //   --spacing-160: 24vw;
  //   --spacing-144: 22vw;
  //   --spacing-120: 20vw;
  //   --spacing-104: 19vw;
  //   --spacing-96: 18vw;
  //   --spacing-88: 17vw;
  //   --spacing-80: 16vw;
  //   --spacing-72: 15vw;
  //   --spacing-64: 14vw;
  //   --spacing-56: 12vw;
  //   --spacing-48: 10vw;
  //   --spacing-40: 8vw;
  //   --spacing-32: 6vw;
  //   --spacing-24: 4vw;
  //   --spacing-16: 3vw;
  //   --spacing-12: 2vw;
  // }


  // Font
  @each $type, $value in $font-map {
    --font-#{$type}: #{$value};
  }
  // --font-sans: 'Noto Sans TC', sans-serif;
  // --font-en: 'Roboto', 'Arial', sans-serif;
  

  // Text
  @each $text, $opts in $text-map {
    @each $point, $value in $opts {
      @if $point == default {
        --text-#{$text}: #{$value};
      }
      @else {
        @include media($point) {
          --text-#{$text}: #{$value};
        }
      }
    }
  }
  // --text-4xl: 6.4rem;
  // --text-3xl: 3.6rem;
  // --text-2xl: 2.8rem;
  // --text-xl: 2.4rem;
  // --text-lg: 2rem;
  // --text-md: 1.8rem;
  // --text-body: 1.6rem;
  // --text-sm: 1.4rem;
  // --text-xs: 1.2rem;
  // @include media(xs) {
  //   --text-4xl: 6.2rem;
  //   --text-3xl: 2.8rem;
  //   --text-2xl: 2.4rem;
  //   --text-xl: 2.2rem;
  //   --text-lg: 1.8rem;
  //   --text-md: 1.7rem;
  // }


  // Line Height
  @each $size, $value in $leading-map {
    --leading-#{$size}: #{$value};
  }


  // Letter Spacing
  @each $size, $value in $tracking-map {
    --tracking-#{$size}: #{$value};
  }


  // Colors
  @each $color, $opts in $color-map {
    $string-color: '' + $color;
    @each $subfix, $value in $opts {
      @if $subfix == default {
        --color-#{$string-color}: #{$value};
        // --color-primary: #0F4841
      }
      @else {
        --color-#{$string-color}-#{$subfix}: #{$value};
        // --color-primary-40: #006D40
      }
    }
  }
  // --color-primary: #ef8322;
  
  // --color-secondary: #96e881;
  // --color-secondary-mid: #B2E2A6;

  // --color-black: #292929;
  // --color-black-rgb: 41, 41, 41;
  // --color-black-80: rgba(var(--color-black-rgb), 0.8);
  // --color-black-20: rgba(var(--color-black-rgb), 0.2);

  // --color-gray: #464646;

  // --color-gray-mid: #9B9B9B;
  // --color-gray-mid-rgb: 155, 155, 155;
  // --color-gray-mid-40: rgba(var(--color-gray-mid-rgb), 0.4);

  // --color-gray-light: #F5F5F5;
  // --color-gray-light-rgb: 245, 245, 245;
  // --color-gray-light-80: rgba(var(--color-gray-light-rgb), 0.8);

  // --color-white: #FFF;
  // --color-white-rgb: 255, 255, 255;
  // --color-white-40: rgba(var(--color-white-rgb), 0.4);
}
