*, *::before, *::after
  position: relative
  box-sizing: border-box
  &::selection
    background-color: var(--color-primary)
    color: var(--color-white)
  &::-moz-selection
    background-color: var(--color-primary)
    color: var(--color-white)


html
  font-size: calc(16px / 1.6)
  +media(lg)
    font-size: calc(15px / 1.6)
  +media(ipad)
    font-size: calc(14px / 1.6)

html
  &.lenis, &.lenis body
    height: auto
.lenis.lenis
  &-smooth
    scroll-behavior: auto !important
  &-smooth [data-lenis-prevent]
    overscroll-behavior: contain
  &-stopped
    overflow: hidden
  &-scrolling iframe
    pointer-events: none

body
  margin: 0
  background-image: url('../img/bg-dots.png')
  background-color: var(--color-gray-mid)
  font-family: var(--font-primary)
  font-size: 1.6rem
  font-weight: 400
  -webkit-font-smoothing: antialiased
  letter-spacing: 0.1rem
  line-height: 1.7
  color: var(--color-gray-light)
  transition: background-color 0.8s
  &.is-news-active
    background-image: none
    background-color: var(--color-primary)

/* ----------------------------------- */
/* ------ Reset ------ */
/* ----------------------------------- */
a, button, input, label, select, textarea
  -ms-touch-action: manipulation
  touch-action: manipulation
a, button
  display: block
  text-decoration: none
  color: inherit
  user-select: none
  &:hover
    text-decoration: none
    color: inherit
button
  padding: 0
  border: none
  background: none
img
  max-width: 100%
ul
  list-style: none
  padding: 0
  margin: 0

h1, h2, h3, h4, h5, h6, p, button
  margin: 0
  font-family: inherit
  font-size: inherit
  font-weight: inherit
  line-height: inherit
  color: inherit
h1, h2, h3, h4, h5, h6
  font-weight: 500

span
  display: block
  line-height: inherit

/* ----------------------------------- */
/* ------ Layouts ------ */
/* ----------------------------------- */
section
  --section-spacing-x: 4vw
  --section-spacing-y: var(--spacing-120)
  padding: var(--section-spacing-y) var(--section-spacing-x)

.container
  --container-width: 156rem
  max-width: var(--container-width)
  &.--left
    // 因為少了預設的 padding-left，內容會多出來，所以要減掉 container 預設 padding
    // 畫面一半 + container 最大寬的一半 - container 預設 padding
    max-width: calc(50vw + var(--container-width) / 2 - calc(var(--bs-gutter-x) * .5))
    padding-left: 0
    margin-left: calc(-1 * var(--section-spacing-x))
.row
  &.--gap
    --bs-gutter-x: var(--spacing-24)
    --bs-gutter-y: var(--spacing-24)
  