.c-blockade {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: rem(200) 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 99;
  &__line {
    &:nth-child(1) {
      transform: rotate(-10deg);
    }
    &:nth-child(2) {
      transform: rotate(10deg);
    }
    &:nth-child(3) {
      transform: rotate(-5deg);
    }
    &:nth-child(4) {
      transform: rotate(5deg);
    }
  }
  
  &__line:nth-child(1) &__text {
    transform: translateX(70vw);
  }
  &__line:nth-child(2) &__text {
    transform: translateX(-50vw);
  }
  &__line:nth-child(3) &__text {
    transform: translateX(100vw);
  }
  &__line:nth-child(4) &__text {
    transform: translateX(-100vw);
  }
  &__text {
    display: inline-block;
    padding: var(--spacing-4) var(--spacing-20);
    background-color: var(--color-black);
    font-size: rem(48);
    font-weight: 700;
    letter-spacing: rem(5);
    line-height: 1;
    color: var(--color-primary);
    white-space: nowrap;
    transition: transform 1s cubic-bezier(.23, .83, .7, 1);
    @include media(max-md) {
      font-size: rem(42);
    }
    @include media(max-sm) {
      font-size: rem(40);
    }
  }
}