include ../components/_Blockade.pug

doctype html
html(lang="en")
  head
    include ../layouts/_Settings.pug
    - 
      path = '/404.html'
      pageTitle = '404 ERROR';

    include ../layouts/_Head.pug

  body
    include ../layouts/_Header.pug

    div(class="l-hero-inner" data-aos="fade-down")
      +Blockade({ text: '404 ERROR 找不到頁面' })(class="l-hero-inner__blockade")
      h2(class="u-text-3xl") 404 ERROR

    main(class="l-main")
      section(class="l-error")
        div(class="container")
          h3(class="u-text-2xl u-text-center") 糟糕！網頁發生錯誤，請點擊其他連結瀏覽

    include ../layouts/_Footer.pug
    include ../layouts/_Scripts.pug