.l-about {
  &::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    @include size(60%, rem(80));
    transform-origin: right top;
    transform: skew(-35deg);
    background-image: linear-gradient(to left, var(--color-gray-light-80) 0%, var(--color-gray-light-80) 50%, transparent, 50%, transparent 100%);
    background-size: 14% 100%;
    @include media(max-sm) {
      @include size(40%, rem(64));
      background-size: 24% 100%;
    }
  }
  &__img-wrap {
    height: 100%;
    transform-origin: right bottom;
    transform: skew(35deg);
    overflow: hidden;
  }
  &__img-mask {
    @include size(100%);
    transform-origin: right bottom;
    transform: skew(-35deg);
    @include media(max-md) {
      height: 60vw;
    }
  }
  &__content-wrap {
    padding: var(--spacing-10) 0 var(--spacing-20);
    @include media(max-md) {
      padding-left: 5vw;
    }
    @include media(max-sm) {
      padding-top: var(--spacing-6);
    }
  }
  &__content:first-child {
    margin-left: rem(-160);
    @include media(max-md) {
      margin-left: 0;
    }
  }
}