.l-header {
  display: flex;
  align-items: center;
  // justify-content: space-between
  // 因為 sticky 一樣會佔位，如果想要 hero 寬高滿版，可以改用 fixed
  position: sticky;
  position: -webkit-sticky;
  // position: fixed
  // left: 0
  top: 0;
  padding-left: 4vw;
  border-bottom: 1px solid var(--color-primary);
  background-color: var(--color-black);
  box-shadow: 0 var(--spacing-1) var(--spacing-14) var(--color-primary);
  z-index: 999;
  @include media(max-2xl) {
    padding: var(--spacing-4) 4vw;
    justify-content: space-between;
  }
  @include media(max-sm) {
    padding-left: 6vw;
    padding-right: 6vw;
  }
  &__logo-mask {
    max-width: rem(200);
    @include media(max-sm) {
      max-width: rem(140);
    }
  }
  &__nav {
    margin-left: auto;
  }
}


// nav
.c-nav {
  // c-nav 手機版單純控制開關
  @include media(max-2xl) {
    position: fixed;
    left: 0;
    top: 0;
    // 設高度 0 防止縮小時 opacity 過渡效果
    @include size(100%, 0);
    background-color: var(--color-black-80);
    opacity: 0;
    // 讓滑鼠無作用
    pointer-events: none;
    overflow: auto;
    transition: height 0s 1s, opacity 0.5s 0.5s;
    &.is-opened {
      height: 100%;
      opacity: 1;
      pointer-events: auto;
      transition: opacity 0.5s;
    }
    &.is-opened &__menu {
      transform: translateY(0);
      opacity: 1;
      transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    }
  }
  &__menu {
    display: flex;
    @include media(max-2xl) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      // 解決視窗高度縮小 flex 吃掉上下內容
      min-height: 100%;
      transform: translateY(rem(-10));
      padding: var(--spacing-16) 0;
      opacity: 0;
      transition: transform 0.5s, opacity 0.5s;
    }
  }
  &__btn-box {
    display: flex;
    @include media(max-2xl) {
      &.-icon {
        margin-top: var(--spacing-4);
      }
    }
    @include media(max-md) {
      &:not(.-icon) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  &__btn-box.-icon &__btn {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    background-color: var(--color-gray-mid-40);
    &::before, &::after {
      --gradient-color: var(--color-secondary);
    }
    @include media(max-2xl) {
      background-color: transparent;
      &::after {
        display: none;
      }
    }
  }
  @include media(max-2xl) {
    &__btn-wrap:first-child &__btn::after {
      display: none;
    }
  }
  &__btn {
    // vw 簡易換算方式：px 除以 20
    // vh 簡易換算方式：px 除以 9.6
    padding: var(--spacing-6) 2.8vw;
    line-height: var(--leading-tight);
    color: var(--color-gray-mid);
    transition: color 0.3s;
    @include media(max-3xl) {
      padding-left: 2.6vw;
      padding-right: 2.6vw;
    }
    @include media(max-md) {
      text-align: center;
      &::after {
        display: none;
      }
    }
    // 調整當前頁面樣式
    &:hover, &.is-active {
      color: var(--color-gray-light);
      &::before {
        opacity: 1;
      }
    }
    &::before, &::after {
      --gradient-color: var(--color-primary);
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      // transparent 透明的
      background-image: linear-gradient(to bottom, var(--gradient-color), transparent);
    }
    &::before {
      @include size(100%);
      opacity: 0;
      transition: opacity 0.3s;
    }
    &::after {
      --gradient-color: var(--color-gray-light);
      @include size(1px, 100%);
    }
  }
}

.o-burger {
  --size: #{rem(42)};
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  z-index: 999;
  @include media(max-2xl) {
    display: flex;
  }
  @include media(max-sm) {
    --size: #{rem(38)};
  }
  &.is-opened {
    align-items: center;
  }
  &.is-opened &__line {
    --line-offset: calc(var(--gap) + var(--height));
    &:nth-child(1) {
      transform: translateY(var(--line-offset)) rotate(45deg)
    }
    &:nth-child(2) {
      width: 0;
    }
    &:nth-child(3) {
      transform: translateY(calc(-1 * var(--line-offset))) rotate(-45deg)
    }
  }
  &__line {
    --gap: #{rem(8)};
    --height: 2px;
    width: 80%;
    height: var(--height);
    background-color: var(--color-gray-light);
    transition: width 0.5s, transform 0.5s;
    &:not(:first-child) {
      margin-top: var(--gap);
    }
  }
  &:not(.is-opened):hover &__line {
    &:nth-child(1) {
      width: 90%;
    }
    &:nth-child(2) {
      width: 70%;
    }
    &:nth-child(3) {
      width: 90%;
    }
  }
}
