.l-lineup {
  &::after {
    content: '';
    display: block;
    // 控制 sticky 空間
    height: rem(200);
    pointer-events: none;
  }
  &__blockade {
    top: -10%;
    @include media(max-xl) {
      top: -20%;
    }
  }
  &__sticky {
    position: sticky;
    position: -webkit-sticky;
    top: var(--spacing-30);
  }
  // 解決 parallax 滑鼠不能 hover 效果
  &__box {
    pointer-events: auto;
  }
  // important 因為 parallax 插件會影響
  &__wrap {
    display: flex !important;
    position: relative !important;
    &:first-child {
      justify-content: flex-end;
      align-items: flex-end;
      z-index: 1;
    }
    &:nth-child(4) {
      justify-content: center;
    }
  }
}