.l-lineup
  &::after
    content: ''
    display: block
    // 控制 sticky 空間
    +size(100%, 20rem)
  &__blockade
    top: -10%
  &__sticky
    position: sticky
    position: -webkit-sticky
    top: var(--spacing-120)
  &__box
    // 解決 parallax 滑鼠不能 hover 效果
    pointer-events: auto
  &__wrap
    // important 因為 parallax 插件會影響
    display: flex !important
    position: relative !important
    &:first-child
      justify-content: flex-end
      align-items: flex-end
      z-index: 1
    &:nth-child(4)
      justify-content: center

  &__artist
    width: 100%
    max-width: 45rem
    filter: grayscale(100%)
    pointer-events: auto
    transition: filter 0.3s
    &:hover
      filter: grayscale(0%)
    &.--lg
      max-width: 56rem

  &__link
    display: flex
    flex-direction: column
    &.--reverse
      flex-direction: column-reverse
  &__link.--reverse &__title
    margin-top: var(--spacing-8)
    margin-bottom: 0

  &__title
    margin-bottom: var(--spacing-8)

  &__img-mask, &__glitch-mask
    --img-w-ratio: 3
    --img-h-ratio: 2
    padding-bottom: calc(100% * var(--img-h-ratio) / var(--img-w-ratio))
    // padding-bottom: 66.7%

  &__glitch-mask
    position: absolute
    width: 100%
    left: 0
    top: 0
    // 調整重疊效果
    mix-blend-mode: lighten

    // 調整圖片色塊
    &::after
      content: ''
      display: block
      position: absolute
      +size(100%)
      left: 0
      top: 0
      mix-blend-mode: multiply
      z-index: 10
    &.--primary::after
      background-color: var(--color-primary)
    &.--secondary::after
      background-color: var(--color-secondary)

  +media(lg)
    &__blockade
      top: -20%