.o-section-title {
  font-size: var(--text-5xl);
  font-weight: 900;
  line-height: var(--leading-tight);
  letter-spacing: rem(-3);
  color: var(--color-secondary);
}

.o-text-lg {
  font-size: var(--text-lg);
  font-weight: 900;
  letter-spacing: var(--tracking-tighter);
}
